/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f37e7e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tela {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Tela Inicial */
#tela-inicial {
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Logo */

h1 {
    font-size: 50px;
    font-weight: bold;
    color: rgb(5, 0, 0);
    position: absolute;
    right: 10%;
    bottom: 40%;
    text-align: center;
}

.personagem {
    position: absolute;
    left: 5%;
    bottom: 0;
    width: 700px;
    height: auto;
}

#iniciar {
    position: absolute;
    right: 10%;
    bottom: 20%;
    background-color: #d00000;
    color: white;
    font-size: 60px;
    font-weight: bold;
    padding: 20px 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

#iniciar:hover {
    background-color: #880505;
}

#iniciar::after {
    content: '➜'; /* Seta para a direita */
    font-size: 60px;
}

/* Tela de Leitura de Produtos */
.box-leitura {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

#finalizar-compra {
    background-color: #d00000;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
}

.logo {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.scanner {
    width: 0px;
    height: auto;
    margin-bottom: 10px;
}

#produtos-lidos {
    margin: 20px 0;
}

#produtos-lidos div {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#total {
    font-size: 1.2em;
    margin: 20px 0;
}

/* Tela de Pagamento */
.box-pagamento {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#qr-code {
    margin: 20px 0;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
}